* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05vw;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}

a:hover {
  color: #4FD1C5;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  font-size: 0.8vw;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5vw;
  padding: 0.75vw;
  width: 100%;
  cursor: pointer;
}

button:disabled {
  opacity: 0.75;
}

label {
  width: 100%;
  display: inline-block;
  font-size: 0.85vw;
  margin-bottom: 0.45vw;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date] {
  width: 100%;
  padding: 0.65vw 0.75vw;
  border: 1px solid #E2E8F0;
  border-radius: 0.5vw;
  margin-bottom: 0.8vw;
}

::placeholder {
  color: rgba(160, 174, 192, 1);
}

input:focus {
  outline: none;
}

.file-input {
  width: 100%;
  padding: 0.75vw 1.25vw;
  border: 1px solid #E2E8F0;
  border-radius: 0.5vw;
  margin: 0.75vw 0;
}

table {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
}

table, th, td {
  border: none;
}

th {
  font-size: 0.65vw;
  text-transform: uppercase;
  text-align: left;
}

table .first-column {
  width: 40%;
}

table .last-column {
  width: 6%;
}

table .middle-column {
  width: 18%;
}

.table-header-box,
.column-header-row,
.data-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header-box {
  align-items: flex-start;
}

.column-header-row {
  margin-bottom: 1vw;
}

.data-row {
  padding: 0.55vw 0;
  border-top: 1px solid #E2E8F0;
}

.data-row button {
  font-size: 0.75vw;
  text-transform: none;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8vw;
}

footer p span {
  font-weight: 700;
  margin: 0;
}

footer span {
  margin-left: 1.85vw;
  cursor: pointer;
}

.bg-teal {
  background: #4FD1C5;
}

.bg-teal-300 {
  background: rgba(79, 209, 197, 1);;
}

.bg-green-400 {
  background: #48BB78;
}

.bg-red-500 {
  background: rgba(229, 62, 62, 1);
}

.bg-lightpink {
  background: lightpink;
}

.bg-gray-200 {
  background: #E2E8F0;
}

.bg-gray-300 {
  background: #CBD5E0;
}

.bg-gray-light {
  background: #F8F9FA;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.color-white {
  color: white;
}

.color-green-400 {
  color: #48BB78;
}

.color-red-500 {
  color: rgba(229, 62, 62, 1);
}

.color-gray-700 {
  color: rgba(45, 55, 72, 1);
}

.color-gray-500 {
  color: #718096;
}

.color-gray-400 {
  color: #A0AEC0;
}

.color-teal {
  color: #4FD1C5;
}

.color-teal-300 {
  color: rgba(79, 209, 197, 1);
}

.btn-plain {
  width: fit-content;
  height: fit-content;
  padding: 0;
  background: transparent;
  display: flex;
  font-size: 0.9vw;
  margin-left: 1.35vw;
}

.btn-plain span {
  font-size: 0.75vw;
  text-transform: none;
  padding-left: 0.35vw;
}

.search-bar {
  margin-left: 1.35vw;
  width: 10vw;
  height: 2vw;
  display: flex;
  align-items: center;
  padding: 0 0.5vw;
  border-radius: 0.85vw;
  border: 0.5px solid #E2E8F0;
}

.search-bar input {
  width: 90%;
  padding: 0 0.2vw;
  border: none;
  background: transparent;
  font-size: 0.8vw;
}

.page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sign-in-screen {
  justify-content: flex-end !important;
}

.sign-in-screen,
.sign-up-screen {
  padding: 1.55vw 1.55vw 2vw 1.55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in-screen .logo-container {
  position: absolute;
  width: 42.5%;
  height: 85vh;
  top: 0;
  right: 0;
  border-bottom-left-radius: 2vw;
  overflow: hidden;
}

.sign-in-form {
  position: absolute;
  width: 23.5%;
  min-height: 65vh;
  height: fit-content;
  padding: 1.25vw 1.5vw;
  background-color: white;
  /* box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05); */
  left: 15vw;
  top: 8.25vw;
}

.sign-in-form h1 {
  font-size: 1.45vw;
  margin-bottom: 0.85vw;
}

.sign-in-form p {
  font-size: 0.85vw;
  margin-bottom: 1.65vw;
}

.sign-in-form button {
  margin: 1.1vw 0;
}

.sign-in-form .form-footer {
  text-align: center;
}

.sign-up-screen .welcome-note-box {
  width: 100%;
  height: 50.5%;
  padding-top: 5vw;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border-radius: 0.85vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sign-up-screen .welcome-note-box h1 {
  margin-bottom: 0.75vw;
  font-size: 1.85vw;
}

.sign-up-screen .welcome-note-box p {
  width: 25%;
  text-align: center;
  line-height: 140%;
  font-size: 1vw;
}

.sign-up-form {
  position: absolute;
  width: 20%;
  height: 60%;
  padding: 1.25vw 1.5vw;
  background-color: white;
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
  border-radius: 1vw;
  left: 40.5%;
  top: 28%;
}

.sign-up-form h2 {
  font-size: 0.9vw;
  text-align: center;
  width: 100%;
}

.sign-up-form p {
  font-size: 0.85vw;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5vw;
}

.registration-options-container {
  width: 100%;
  padding: 0.95vw 3vw;
  display: flex;
  justify-content: space-between;
}

.btn-alternate-registration {
  width: fit-content;
  height: fit-content;
  font-size: 1.15vw;
  padding: 0.65vw 0.8vw 0.5vw 0.8vw;
  background-color: white;
  border: 1px solid #E2E8F0;
}

.form-footer {
  font-size: 0.8vw !important;
  margin-top: 0.65vw;
}

.form-footer span {
  font-weight: 700;
}

.footer-with-padding {
  padding: 0 8.75vw;
}

.compact-footer {
  padding: 0 15vw;
}

.main-page {
  padding: 11vh 1.9vw 0 18vw;
}

.right-side-overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 27vw;
  height: 100%;
  padding: 2.25vw 2.15vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.right-side-overlay button {
  width: fit-content;
  font-size: 1.1vw;
  border-radius: 0.65vw;
  padding: 0.35vw 0.65vw;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.right-side-overlay button span {
  font-size: 0.7vw;
  text-transform: none;
  margin-left: 0.5vw;
}

.right-side-overlay button:hover {
  color:rgba(45, 55, 72, 1);
}

.overlay-form {
  width: 100%;
  height: 80vh;
  margin: 2.5vw 0;
}

.overlay-form .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.15vw;
}

.overlay-form .btn-container button {
  width: 30%;
  justify-content: center;
  padding: 0.5vw 1.25vw;
  border-radius: 1vw;
}

.overlay-form .btn-container button:hover {
  background-color: initial;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.overlay-form .btn-container button span {
  font-size: 0.85vw;
}

.overlay-form .btn-container button:first-child {
  margin-right: 1vw;
}

.page-section {
  margin-bottom: 1.25vw;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
}

.top-bar {
  position: absolute;
  top: 0;
  left: 2.45vw;
  width: 93.5vw;
  height: 9.25vh;
  padding-top: 1.65vw;
  display: flex;
  justify-content: space-between;
}

.top-bar .title-container {
  width: 12.5%;
  background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
}

.masked {
  display: flex;
  align-items: center;
  height: 97.5%;
  padding-bottom: 0.8vh;
}

.title-container h1 {
  font-size: 0.75vw;
}

.title-container .logo-container {
  width: 8.5%;
  height: fit-content;
  margin-right: 4%;
}

.page-info-container {
  width: 83.5%;
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 0.75vw;
}

.page-title h2 {
  font-size: 0.8vw;
  margin-top: 0.35vw;
}

.utility-container {
  display: flex;
  align-items: center;
  padding-bottom: 1.15vw;
}

.left-side-bar {
  position: absolute;
  top: 11.5vh;
  left: 2.45vw;
  width: 12.5%;
  height: 88.5vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.left-side-bar::-webkit-scrollbar {
  display: none;
}

.help-prompt {
  width: 100%;
  height: 10vw;
  padding: 1vw 1.1vw;
  background-size: cover;
  background-position: right;
  border-radius: 1vw;
  overflow: hidden;
  margin-top: 5.5vw;
  margin-bottom: 3.5vw;
}

.help-prompt .help-hint {
  font-size: 0.75vw;
  margin-top: 0.25vw;
}

.help-prompt .help-question {
  width: fit-content;
  padding: 0;
  margin-bottom: 1.15vw;
}

.help-prompt button {
  justify-content: center;
  margin-top: 0.75vw;
  border-radius: 0.65vw;
  font-size: 0.63vw;
  text-transform: uppercase;
}

.help-question,
.btn-menu-item {
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 0.75vw;
  padding: 0.55vw 0.85vw;
  border-radius: 1vw;
  margin-bottom: 1vw;
  transition: all 0.5s ease-in-out;
}

.btn-menu-item:hover {
  background-color: white;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  color: rgba(45, 55, 72, 1);
  letter-spacing: 0.1vw;
}

.btn-menu-item:hover .menu-item-icon-container {
  background-color: #4FD1C5;
}

.btn-menu-item:hover .menu-item-icon {
  color: white !important;
}

.btn-menu-item.active {
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
}

.short-stats-icon-container,
.menu-item-icon-container {
  padding: 0.4vw 0.45vw 0.3vw 0.45vw;
  font-size: 1.1vw;
  margin-right: 0.8vw;
  border-radius: 0.85vw;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  transition: all 0.5s ease-in-out;
}

.menu-item-icon {
  transition: all 0.5s ease-in-out;
}

.menu-title {
  font-size: 0.67vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1.5vw 0 1.15vw 0;
  padding-left: 0.45vw;
}

.dashboard-screen,
.tables-screen {
  width: 100%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dashboard-screen::-webkit-scrollbar,
.tables-screen::-webkit-scrollbar {
  display: none;
}

.footer-with-vertical-gap {
  margin: 1.6vw 0;
}

.table-container {
  width: 100%;
  height: fit-content;
  padding: 1.35vw 1.25vw 1vw 1.25vw;
  border-radius: 0.65vw;
}

.table-container h2 {
  font-size: 0.85vw;
  margin-bottom: 1vw;
}

.auther-info,
.project-info {
  display: flex;
  align-items: center;
}

.auther-pic-container,
.project-logo-container {
  width: 2vw;
  height: 2vw;
  border-radius: 0.75vw;
  overflow: hidden;
  margin-right: 0.65vw;
}

.auther-info h5,
.role-info h5 {
  font-size: 0.8vw;
  margin-bottom: 0.23vw;
}

.auther-info p,
.role-info p {
  font-size: 0.75vw;
}

.auther-status {
  font-size: 0.75vw;
  font-weight: 700;
  width: fit-content;
  padding: 0.25vw 0.45vw;
  border-radius: 0.5vw;
}

.joining-date {
  font-size: 0.8vw;
  font-weight: 700;
}

.project-table-row .first-column {
  width: 37%;
}

.project-table-row .middle-column {
  width: 19%;
}

.project-table-header h2 {
  margin-bottom: 0.5vw;
}

.project-table-header p {
  font-size: 0.7vw;
}

.project-table-header p span {
  font-weight: 700;
  margin-left: 0.25vw;
}

.icon-mini {
  font-size: 0.85vw;
}

.project-table-text {
  font-size: 0.8vw;
  font-weight: 700;
}

.progress-bar-container {
  width: 65%;
  height: 0.23vw;
  border-radius: 0.5vw;
  margin-top: 0.35vw;
  overflow: hidden;
}

.progress-indicator {
  height: 100%;
}

.short-highlights-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.short-hightlight-box {
  width: 24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85vw 1vw;
  border-radius: 0.85vw;
}

.highlight-info {
  display: flex;
  align-items: flex-end;
  margin-top: 0.32vw;
}

.highlight-info p {
  font-size: 1.015vw;
  font-weight: 700;
  margin-right: 0.35vw;
}

.highlight-info p:last-child {
  font-size: 0.87vw;
}

.short-hightlight-box .icon-container {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.short-stats-icon-container {
  margin: 0;
  padding: 0.5vw 0.5vw 0.3vw 0.5vw;
  font-size: 1.25vw;
  border-radius: 0.75vw;
}

.statistics-container,
.promotions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.promotion-box-1 {
  width: 54%;
  display: flex;
  justify-content: space-between;
}

.promotion-box-2 {
  width: 44%;
}

.promotion-box-1,
.promotion-box-2 {
  height: 14.5vw;
  padding: 0.85vw 1.15vw;
  border-radius: 1vw;
}

.promotion-box-1 .info-container {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promotion-box-1 .logo-container {
  width: 43%;
  height: 100%;
  border-radius: 0.65vw;
  overflow: hidden;
}

.promotions-container .btn-plain {
  font-size: 0.75vw;
  text-transform: none;
  margin: 0;
}

.promotions-container .icon-mini {
  font-size: 1.1vw;
}

.promotions-container .info-container p:first-child {
  font-size: 0.65vw;
}

.promotions-container .info-container p:nth-child(2) {
  font-size: 0.9vw;
  font-weight: 700;
  margin-top: 0.35vw;
  margin-bottom: 0.65vw;
}

.promotions-container .info-container p:last-child {
  font-size: 0.75vw;
  line-height: 140%;
}

.promo-2-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8vw 30% 0.8vw 1.1vw;
  border-radius: 0.65vw;
}

.promo-2-info-container p:first-child {
  font-size: 0.85vw;
  font-weight: 700;
  margin-bottom: 0.9vw;
}

.promo-2-info-container p:last-child {
  font-size: 0.7vw;
  line-height: 150%;
}

.user-statistics-container {
  width: 44%;
}

.sales-statistics-container {
  width: 54%;
}

.user-statistics-container,
.sales-statistics-container {
  height: 23vw;
  padding: 0.85vw 1.15vw;
  border-radius: 1vw;
}

.user-graph-container {
  width: 100%;
  height: 50%;
  border-radius: 0.5vw;
  padding: 0.85vw 0.25vw;
  background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
}

.sales-graph-container {
  width: 108.75%;
  height: 80%;
  margin-left: -5%;
}

.stat-header {
  margin: 1.65vw 0 2.15vw 0;
}

.stat-header h4 {
  font-size: 0.9vw;
  margin-bottom: 0.5vw;
}

.stat-header p {
  font-size: 0.75vw;
}

.stat-header p span {
  font-weight: 700;
}

.user-statistics-container .highlights-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.highlights-container .short-stats-icon-container {
  font-size: 1vw;
  border-radius: 0.65vw;
  padding: 0.5vw 0.5vw 0.3vw 0.5vw;
  margin-right: 0.5vw;
}

.highlights-container .title {
  display: flex;
  align-items: center;
  margin-bottom: 0.85vw;
}

.highlights-container .title p {
  font-size: 0.75vw;
}

.highlights-container p {
  font-size: 0.85vw;
  font-weight: 700;
}

.sales-statistics-container .stat-header {
  margin-top: 0.3vw;
  margin-bottom: 1.25vw;
}

.access-denied-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-denied-container p {
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 165%;
  text-align: center;
}

.tracking-out-expand {
	-webkit-animation: tracking-out-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: tracking-out-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-21 11:35:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 0.23vw;
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 0.23vw;
    opacity: 0;
  }
}
